<div class="container">
    <div class="nav-left">
        <div class="site-brand">
           <a routerLink="/home">
             <img src="https://cdn.dribbble.com/users/5646686/screenshots/15479535/new_logo_coding.png">
             <div>code-world</div>
           </a>
        </div>
    </div>
    <div class="nav-right">
        <div class="nav-menu">
          <a routerLink="/practice"><span>Practice</span></a>  
          <a routerLink="/contests"><span>Contest</span></a>  
          <a routerLink="/login"><span>Login</span></a>  
        </div>
    </div>

</div>