<div class="editor-wrapper">
    <div id="mode-dropdown">
        <select id="mode-selector">
          <option value="javascript">JavaScript</option>
          <option value="java">Java</option>
          <option value="c++">C++</option>
          <option value="python">python</option>
        </select>
      </div>
    <div>
        <div id="editor" style="height: 80vh; top: 0; right: 0; bottom: 0; left: 0;" #editor>
       
        </div>
        <button id="submit" style="float: right" (click)="submitSolution()">Submit</button>
        <button id="run" style="float: right" >Run</button>
       
    </div>
       
        
  </div>
  